body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, rgba(220, 240, 255, 0.7), transparent 50%),
              radial-gradient(circle at bottom right, rgba(220, 220, 255, 0.7), transparent 50%);
  filter: blur(50px);
  z-index: -1; /* 다른 콘텐츠 뒤로 배경을 보냄 */
}